@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

nav ul li a {
  color: white;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 72vh;
  background-color: antiquewhite;
  color: black;
  font-family: "Varela Round", sans-serif;
  font-size: large;
  display: flex;
  margin: 23px auto;
  justify-content: center;
  align-items: center;
}

.dev {
  display: flex;
  width: 125px;
  height: 30px;
  margin: auto;
}

.d {
  list-style: none;
  text-decoration: none;
}

.bottom {
  display: flex;
  width: 850px;
  height: 30px;
  margin: auto;
}

.bottom ul {
  display: flex;
}

.bottom ul li a:hover {
  color: black;
  padding-left: 8px;
}

.name {
  list-style: none;
}

.name a {
  text-decoration: none;
  padding: 0px 10px;
  color: black;
}

@media only screen and (max-width: 1100px) {
  body {
    background-color: antiquewhite;
  }
}
